/****** Object:  Table [dbo].[firebaseid_dtls]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[firebaseid_dtls](
	[FIREBASEID_DTLS_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMEI_NO] [varchar](36) NOT NULL,
	[FIREBASE_ID] [varchar](50) NOT NULL,
	[IS_ACTIVE] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FIREBASEID_DTLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[oauth_access_token]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[oauth_access_token](
	[TOKEN_ID] [varchar](256) NULL,
	[AUTHENTICATION_ID] [varchar](255) NOT NULL,
	[USER_NAME] [varchar](256) NULL,
	[CLIENT_ID] [varchar](256) NULL,
	[REFRESH_TOKEN] [varchar](256) NULL,
	[TOKEN] [varbinary](max) NULL,
	[AUTHENTICATION] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[oauth_refresh_token]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[oauth_refresh_token](
	[TOKEN_ID] [varchar](256) NULL,
	[TOKEN] [varbinary](max) NULL,
	[AUTHENTICATION] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[role_master_dtls]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role_master_dtls](
	[ROLES_MASTER_DTLS_ID] [varchar](100) NOT NULL,
	[ROLE_DESCRIPTION] [varchar](100) NULL,
	[IS_ACTIVE] [smallint] NOT NULL,
	[CREATED_BY] [char](36) NULL,
	[MODIFIED_BY] [char](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLES_MASTER_DTLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_dtls]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_dtls](
	[USER_DTLS_ID] [char](36) NOT NULL,
	[FIRST_NAME] [varchar](45) NULL,
	[LAST_NAME] [varchar](45) NULL,
	[EMAIL_ID] [varchar](45) NULL,
	[CHANGED_EMAIL] [varchar](250) NULL,
	[GSTIN] [varchar](45) NULL,
	[IMG] [varchar](500) NULL,
	[EMAIL_VERIFICATION_CODE] [varchar](200) NULL,
	[IS_ACTIVE] [smallint] NOT NULL,
	[USER_PREFIX] [varchar](10) NOT NULL,
	[USER_CODE] [int] NOT NULL,
	[CNTC_PER_F_NM] [varchar](15) NULL,
	[CNTC_PER_S_NM] [varchar](15) NULL,
	[CNTC_PER_NO] [varchar](15) NULL,
	[CNTC_PER_EMAIL_ID] [varchar](100) NULL,
	[BL_ADDR_NM] [varchar](100) NULL,
	[BL_ST_ADDR_NM] [varchar](300) NULL,
	[BL_LANDMARK] [varchar](100) NULL,
	[BL_AREA_ID] [int] NULL,
	[BL_CITY_ID] [int] NULL,
	[BL_STATE_ID] [int] NULL,
	[CREATED_BY] [char](36) NULL,
	[MODIFIED_BY] [char](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_DTLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_login_dtls]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_login_dtls](
	[USER_LOGIN_DTLS_ID] [char](36) NOT NULL,
	[USER_DTLS_ID] [char](36) NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[CONTACT_NUM] [varchar](45) NULL,
	[IS_PASSWORD_CHANGED] [smallint] NOT NULL,
	[IS_ACTIVE] [smallint] NOT NULL,
	[IS_EMAIL_VERIFIED] [smallint] NOT NULL,
	[FORGOT_PASS_CODE] [varchar](100) NULL,
	[ACTIVATION_CODE] [varchar](100) NULL,
	[CREATED_BY] [char](36) NULL,
	[MODIFIED_BY] [char](36) NULL,
	[TERMS_AND_CONDITION] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_LOGIN_DTLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_role_dtls]    Script Date: 4/23/2019 7:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_role_dtls](
	[USER_ROLE_DTLS_ID] [int] NOT NULL,
	[ROLES_MASTER_DTLS_ID] [varchar](100) NOT NULL,
	[USER_LOGIN_DTLS_ID] [char](36) NOT NULL,
	[IS_ACTIVE] [smallint] NOT NULL,
	[CREATED_BY] [char](36) NULL,
	[MODIFIED_BY] [char](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ROLE_DTLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[role_master_dtls] ([ROLES_MASTER_DTLS_ID], [ROLE_DESCRIPTION], [IS_ACTIVE], [CREATED_BY], [MODIFIED_BY]) VALUES (N'ROLE_ADMIN', N'Admin', 1, NULL, NULL)
INSERT [dbo].[role_master_dtls] ([ROLES_MASTER_DTLS_ID], [ROLE_DESCRIPTION], [IS_ACTIVE], [CREATED_BY], [MODIFIED_BY]) VALUES (N'ROLE_CUSTOMER', N'Customer', 1, NULL, NULL)
INSERT [dbo].[role_master_dtls] ([ROLES_MASTER_DTLS_ID], [ROLE_DESCRIPTION], [IS_ACTIVE], [CREATED_BY], [MODIFIED_BY]) VALUES (N'ROLE_SALES', N'SALES', 1, NULL, NULL)
INSERT [dbo].[user_login_dtls] ([USER_LOGIN_DTLS_ID], [USER_DTLS_ID], [USERNAME], [PASSWORD], [CONTACT_NUM], [IS_PASSWORD_CHANGED], [IS_ACTIVE], [IS_EMAIL_VERIFIED], [FORGOT_PASS_CODE], [ACTIVATION_CODE], [CREATED_BY], [MODIFIED_BY], [TERMS_AND_CONDITION]) VALUES (N'a2b20ebf-7b9e-4e93-a12c-fdf86dff1a96', N'00e048e2-d099-43de-b1d2-ec5845e275c1', N'Admin', N'f38553100b8cd0e535ad7b8a3a27b8093e685e359853aad326bbe1bc5c964ba3782fd499aa88142c', N'Admin', 0, 1, 0, N'e2ff450b-7608-4f4d-a43a-0414514e0493', N'2cbd5aab-1acc-4d2b-ae3b-c8a45115b9ac', NULL, NULL, 1)
INSERT [dbo].[user_role_dtls] ([USER_ROLE_DTLS_ID], [ROLES_MASTER_DTLS_ID], [USER_LOGIN_DTLS_ID], [IS_ACTIVE], [CREATED_BY], [MODIFIED_BY]) VALUES (1, N'ROLE_USER', N'a2b20ebf-7b9e-4e93-a12c-fdf86dff1a96', 1, NULL, NULL)
INSERT [dbo].[user_role_dtls] ([USER_ROLE_DTLS_ID], [ROLES_MASTER_DTLS_ID], [USER_LOGIN_DTLS_ID], [IS_ACTIVE], [CREATED_BY], [MODIFIED_BY]) VALUES (2, N'ROLE_ADMIN', N'a2b20ebf-7b9e-4e93-a12c-fdf86dff1a96', 1, NULL, NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__oauth_ac__0CC04C828650B36B]    Script Date: 4/23/2019 7:54:16 AM ******/
ALTER TABLE [dbo].[oauth_access_token] ADD  CONSTRAINT [UQ__oauth_ac__0CC04C828650B36B] UNIQUE NONCLUSTERED 
(
	[AUTHENTICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[firebaseid_dtls] ADD  DEFAULT ('1') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[oauth_access_token] ADD  CONSTRAINT [DF__oauth_acc__TOKEN__4DFC6BB4]  DEFAULT (NULL) FOR [TOKEN_ID]
GO
ALTER TABLE [dbo].[oauth_access_token] ADD  CONSTRAINT [DF__oauth_acc__USER___4EF08FED]  DEFAULT (NULL) FOR [USER_NAME]
GO
ALTER TABLE [dbo].[oauth_access_token] ADD  CONSTRAINT [DF__oauth_acc__CLIEN__4FE4B426]  DEFAULT (NULL) FOR [CLIENT_ID]
GO
ALTER TABLE [dbo].[oauth_access_token] ADD  CONSTRAINT [DF__oauth_acc__REFRE__50D8D85F]  DEFAULT (NULL) FOR [REFRESH_TOKEN]
GO
ALTER TABLE [dbo].[oauth_refresh_token] ADD  CONSTRAINT [DF__oauth_ref__TOKEN__52C120D1]  DEFAULT (NULL) FOR [TOKEN_ID]
GO
ALTER TABLE [dbo].[role_master_dtls] ADD  DEFAULT (NULL) FOR [ROLE_DESCRIPTION]
GO
ALTER TABLE [dbo].[role_master_dtls] ADD  DEFAULT ('1') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[role_master_dtls] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[role_master_dtls] ADD  DEFAULT (NULL) FOR [MODIFIED_BY]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [FIRST_NAME]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [LAST_NAME]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [EMAIL_ID]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CHANGED_EMAIL]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [GSTIN]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [IMG]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [EMAIL_VERIFICATION_CODE]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT ('1') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT ('AU') FOR [USER_PREFIX]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT ('0') FOR [USER_CODE]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CNTC_PER_F_NM]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CNTC_PER_S_NM]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CNTC_PER_NO]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CNTC_PER_EMAIL_ID]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_ADDR_NM]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_ST_ADDR_NM]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_LANDMARK]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_AREA_ID]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_CITY_ID]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [BL_STATE_ID]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[user_dtls] ADD  DEFAULT (NULL) FOR [MODIFIED_BY]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [USER_DTLS_ID]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [PASSWORD]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [CONTACT_NUM]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT ('0') FOR [IS_PASSWORD_CHANGED]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT ('1') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT ('0') FOR [IS_EMAIL_VERIFIED]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [FORGOT_PASS_CODE]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [ACTIVATION_CODE]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [MODIFIED_BY]
GO
ALTER TABLE [dbo].[user_login_dtls] ADD  DEFAULT (NULL) FOR [TERMS_AND_CONDITION]
GO
ALTER TABLE [dbo].[user_role_dtls] ADD  DEFAULT ('1') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[user_role_dtls] ADD  DEFAULT (NULL) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[user_role_dtls] ADD  DEFAULT (NULL) FOR [MODIFIED_BY]
GO
